[CMS21UIPlus]
# CMS21 UI+ feature switches.

[CMS21UIPlus.Settings]
unmarkFinishedParts = true
markBodyParts = true
removePartsFromShoppingList = true
wheelShopListPurchaseHelper = true
addShoppingListSorting = true
filterShoppingListByCurrentShopOnOpen = true
quickSwitchMountModes = true
addExitGameToGaragePauseMenu = true
skipStartupVideosTotally = true
autoContinueStartupPrompt = true
rememberInventorySorting = true
showLiveryFileNames = true
showCarConditionOnMap = true
addParkingSorting = true
autoConfirmDynoStart = true
showPartRepairabilityIndicators = true
showOwnedPartCountIndicators = true
showMountPartCardIndicators = true
hideBodyPartPaintColorBadges = true
addInventoryQuickFilters = true
resetInventoryQuickFiltersOnExit = true
addSpringClampInventoryFilters = true
resetSpringClampInventoryFiltersOnExit = false
addTireChangerInventoryFilters = true
resetTireChangerInventoryFiltersOnExit = false
addWheelBalancerInventoryFilters = true
resetWheelBalancerInventoryFiltersOnExit = false
addBrakeLatheInventoryFilters = true
resetBrakeLatheInventoryFiltersOnExit = false
addMountPartSelectionFilters = true
resetMountPartSelectionFiltersOnExit = false
moveFilteredPartsBetweenInventoryAndWarehouse = true
addScrapInventoryFilters = true
resetScrapInventoryFiltersOnExit = true
addBulkScrapShortcut = true
addRepairInventoryFilters = true
resetRepairInventoryFiltersOnExit = true
