[CMS21UIPlus]
# CMS21 UI+ feature switches.

[CMS21UIPlus.Settings]
unmarkFinishedParts = true
markBodyParts = true
removePartsFromShoppingList = true
wheelShopListPurchaseHelper = true
quickSwitchMountModes = true
addExitGameToGaragePauseMenu = true
skipStartupVideosTotally = true
autoContinueStartupPrompt = true
rememberInventorySorting = true
showLiveryFileNames = true
showCarConditionOnMap = true
autoConfirmDynoStart = true
showPartRepairabilityIndicators = true
showOwnedPartCountIndicators = true
hideBodyPartPaintColorBadges = true
addInventoryQuickFilters = true
addSpringClampInventoryFilters = true
moveFilteredPartsBetweenInventoryAndWarehouse = true
addScrapInventoryFilters = true
addBulkScrapShortcut = true
addRepairInventoryFilters = true
